<footer class="footer">
    <small>
       Made by: <a href="http://github.com/narenkukreja" target="_blank">Naren Kukreja -         Polargram is currently in development, there may be a few bugs :)
    </a><br>
    </small>
    <nav>
        <ul>
            <li><a href="https://github.com/narenkukreja/polargram" target="_blank">Source Code</a></li>
        </ul>
    </nav>
</footer>