<footer class="footer">
    <small>
       Made by: <a href="http://github.com/narenkukreja" target="_blank">Naren Kukreja</a>
    </small>
    <nav>
        <ul>
            <li><a href="https://github.com/narenkukreja/polargram" target="_blank">Source Code</a></li>
        </ul>
    </nav>
</footer>